body {
  background-color: var(--background-color);
  color: aliceblue;

  h3 {
    padding-bottom: 50px;
    text-decoration: underline;
    letter-spacing: 1px;
  }
}

.articles {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: var(--article-font);
  letter-spacing: 1px;
}

.articles-gpt3 {
  padding: 0 120px;
  margin: 70px auto 0 auto;
  width: 45vw;
  height: 85vh;
  border-radius: 450px;
}

.articles-danger {
  padding: 0 120px;
  margin: 70px auto 0 auto;
  width: 45vw;
  height: 85vh;
  border-radius: 470px;
}

.articles-data {
  padding: 0 100px;
  margin: 145px auto 0 auto;
  width: 35vw;
  height: 70vh;
  border-radius: 400px;
}

.articles-breaking {
  padding: 90px;
  margin: 160px auto 0 auto;
  width: 35vw;
  height: 65vh;
  border-radius: 400px;
}

.articles-point {
  padding: 100px;
  margin: 120px auto 0 auto;
  width: 40vw;
  height: 75vh;
  border-radius: 400px;
}

.article-buttons {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;

  &:hover {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
  }
}
