.sign-up-form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 20px;
  margin-top: 15vh;
  max-width: 30vw;
  padding: 100px 40px;
  border-radius: 300px;
  color: var(--text-color);

  h4 {
    text-align: center;
    text-decoration: underline;
  }

  input {
    margin: auto;
    padding: 10px;
    max-width: 12vw;
    text-align: center;
    background-color: var(--accentColor);
    color: var(--text-color);
  }

  .sign-up-form-button-container {
    display: flex;
  }

  .button-link {
    margin: auto;
    border-radius: 20px;
  }

  button {
    margin: auto;
    cursor: pointer;
    background-color: var(--accentColor);
    color: var(--text-color);
    padding: 15px;
    border-radius: 20px;
    transition: all 1s ease;

    &:hover {
      padding: 19px;
      background-color: var(--color-blog);
    }
  }
}

.form-error-container {
  margin: auto;
  width: 50vw;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
